.wide-container{
  max-width: 800px;
  margin: 0 auto;
}
.container {
  padding: 0 1em;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

$white: #F8F8F8;


::ng-deep {
  ng-scrollbar.virtual-scroll {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: gray;
    --scrollbar-hover-size: 12px;
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-border-radius: 10px;

    margin: 1em;
    height: 200px;
    max-height: 200px;
    border-radius: 6px;
    border: 1px solid gray;
    overflow: hidden;
  }
}

.sample {
  }


  .inner {
    width: 140%;
  }

  .example-item {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 2em;

    &:nth-child(odd) {
      background: #f1ffff;
    }

    &:nth-child(even) {
      background: #ecf8ff;
    }
  }
